/*Import Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/*Reset default spacing*/ 
{ box-sizing: border-box;
 margin: 0;
 padding: 0; }
body
{ font-family:"Georgia", serif;
  line-height: 1;
  color: #333;
  background-color: #fff; }
.container
{ width: 75%;
  max-width: 950px;
  margin: auto;
  text-align: center; }
.section
{ padding: 30px 0; }
h1 
{ font-size: 2rem; }
h2 
{ font-size: 2rem;
  margin-bottom: 20px; }
/*Navigation bar*/
nav ul li
{ display: inline- block;
  margin: 15px; }
nav ul li a 
{ color: white;
  text-decoration: none;
  font-weight: 400;
  padding: 6px;
  border-radius: 4px;
  transition: background 0.2s; }
nav ul li a:hover 
{ background-color: #1ecfeb; }
#skills 
{ background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px; }
table 
{ width: 100%;
  border-collapse: collapse;
  margin-top: 10px; }
th, td 
{ border: 1px solid #1eebd6;
  padding: 11px;
  text-align: left; }
th 
{ background-color: #70eb1e;
  color: white;
  text-align: center; }




